#aboutUsContainter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.AboutUsh2 {
  font-size: calc(18px + 2.5vw) !important;
  font-family: 'Bunny' !important;
  color: #000000;
}

.row.AboutUsRow.AboutUsRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.row.AboutUsRow:nth-child(even) {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.text p {
  opacity: 0;
  transition: opacity 0.3s;
}

.AboutUsp {
  font-size: calc(10px + 1.5vw) !important;
  font-family: 'Urbanist' !important;
  color: #000000;
}

.row.AboutUsRow:hover .text p {
  opacity: 1;
}

.image {
  height: 200px;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.image img {
  object-fit: cover;
  will-change: transform;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.row.AboutUsRow:hover .image img {
  transform: scaleX(1);
}
