@import url('/static/fonts/fonts.css');

.container {
    align-items: center;
}

h1 {
    font-family: 'Bunny' !important;
    font-weight: 150%;
    color: #000000;
    font-size: 400% !important;
    margin: 0;
}

.navbar-brand {
    font-family: 'Bunny', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 50px !important;
    margin: 0;
    float: none;
}

.nav-item {
    font-family: 'HannieBunny', sans-serif;
    font-size: 200% !important;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#navbar-container {
    background-color: rgba(0, 0, 0, 0.3) !important; /* black with 50% opacity */
}

.dropdown-item{
    font-size: 125% !important;
}
