h1,
.head-wrapper {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;

  display: flex;
  justify-content: center;
}

.header-svg {
  width: 100%;
  height: auto;
}

.Title{
  position: relative;
  bottom: -15%;
  padding: 0;
  margin: 0;
}
