#MayanTeporingo {
  width: 25vw;
  height: auto;
  border-radius: 20%;
  border-color: none;
}

.video-container {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/static/img/jungleframe.jpg");
  background-size: cover;
  background-size: 80%;
  background-position: center;
  width: 50vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.moon-bunny {
  width: 45vw;
  height: 30vw;
  position: relative;
  z-index: 2;
}

.containeroverlay {
  background-image: url("/static/img/jungleframe2.png");
  background-size: cover;
  background-size: 80%;
  background-position: center;
  width: 100%;
  height:  100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
}

/* .leaves {
  position: absolute;
  max-height: inherit;
  max-width: inherit;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#jungleframe {
  width: 100%;
  height: 100%;
} */

#authorvideo{
    font-family: 'HannieBunny', sans-serif;
    font-size: 200%;
    text-align: right;
}

#authorvideo a {
  color: black;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s; 
  animation-fill-mode: both;
}