.video-container {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/static/img/jungleframe.jpg");
  background-size: cover;
  background-size: 80%;
  background-position: center;
  width: 50vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border-radius: 100%;
}

.moon-bunny {
  width: 45vw;
  height: 30vw;
  position: relative;
  z-index: 2;
}

.containeroverlay {
  background-image: url("/static/img/jungleframe2.png");
  background-size: cover;
  background-size: 80%;
  background-position: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  border-radius: 100%;
}

/* .leaves {
  position: absolute;
  max-height: inherit;
  max-width: inherit;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#jungleframe {
  width: 100%;
  height: 100%;
} */

#authorvideo {
  font-family: 'HannieBunny', sans-serif;
  font-size: calc(30px + 1vw);
  text-align: right;
}

#authorvideo a {
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: both;
}

#Teporingopoly {
  height: calc(150px + 20vw);
  opacity: 0;
  bottom: 0;
  left: 0;
  position: relative;
  animation: popIn 2s forwards;
  shape-outside: circle(50%);
  float: right;
  z-index: 2;
  border-radius: 25%;
  padding-left: 30px;
}

#Teporingopoly:hover {
  transform: translateY(-30px);
}

#Teporingopoly2 {
  width: auto;
  position: relative;
  height: calc(100px + 20vw);
  opacity: 0;
  animation: popIn 2s forwards;
  shape-outside: circle(50%);
  float: left;
}

@keyframes popIn {
  to {
    opacity: 1;
  }
}

.Intro {
  font-size: calc(25px + 3vw) !important;
  font-family: 'Bunny';
  color: black;
  text-align: center;
}

.TeporingoInfo {
  font-size: calc(15px + 1.5vw);
  font-family: 'Urbanist';
  color: #000000;
  opacity: 0;
  animation: popIn 2s forwards;
}

.TeporingoInfo strong {
  font-size: calc(20px + 3vw);
  font-family: 'Bunny';
  text-align: left;
  position: relative;
  top: 4px; /* Adjust as needed */
}

.description {
  color: rgb(54, 54, 54);
}

.TeporingoInfo:hover .description {
  color: black;
}

/* #grass{
  z-index: 3;
  border-radius: 25%;
  height: calc(45px + 7vw);
  bottom: 0;
  left: 0;
  position: absolute;
}
 */
/* #placeholder{
  /* opacity: 0;
  height: calc(100px + 20vw);
  bottom: 0;
  position: relative;
  shape-outside: circle(58%);
  float: left;
  pointer-events: none;
} */

#BunnyInfo{
  position: relative;
  background-color: rgba(0, 0, 0, 0.077);
  border-radius: 2%;
}

.card {
  background-color: transparent;
  border: none;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition properties */
  --bs-card-border-width: 0 !important;
  --bs-card-bg: transparent !important;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the parent's color (usually black) */
  cursor: pointer; /* Change cursor to pointer on hover for better UX */
  border: none;
  background-color: transparent;
}

.card-link:hover {
  color: inherit; /* Maintain the same color on hover */
}

#BunnyInfo2{
 text-align: center;
}

#MayanTeporingo {
  border-radius: 50%;
  height: calc(100px + 20vw);
  /*position: relative; */
  animation: popIn 2s forwards;
  /* shape-outside: circle(55%);
  float: left; */
  padding-right: 50px;
}

.btn{
  color: transparent;
  border: none;
}