{% extends "layout.html" %}

{% block title %}
About Us
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/AboutUs.css') }}" />
{% endblock %}

{% block content %}
</br>
</br>
<div class="container" id="aboutUsContainter">
  <div class="row AboutUsRow">
    <div class="text">
      <h2 class="AboutUsh2">Philosophy</h2>
      <p class="AboutUsp">Insert your philosophy text here.</p>
    </div>
    <div class="image">
      <img src="{{ url_for('static', filename='img/Quote1.jpg') }}" alt="Philosophy Image">
    </div>
  </div>

  <div class="row AboutUsRow">
    <div class="text">
      <h2 class="AboutUsh2">History</h2>
      <p class="AboutUsp">Insert your history text here.</p>
    </div>
    <div class="image">
      <img src="{{ url_for('static', filename='img/Quote1.jpg') }}" alt="History Image">
    </div>
  </div>
</div>

</br></br>
{% endblock %}