{% extends "layout.html" %}

{% block title %}
About Them
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/AboutThem.css') }}" />
{% endblock %}

{% block content %}
<div class="container">

    <!-- Title Row -->
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 id="TitleDB">MENU</h2>
        </div>
    </div>

    <!-- Divider -->
    <div class="divider"></div>
    <br>

    <!-- First Row -->
    <div class="row">
        <div class="col-6">
            <a href="#" class="card-link">
                <div class="card">
                    <h4 class="card-title">Food & Nutrition</h4>
                    <div class="card-body">
                        <p>Explore a variety of topics related to pet nutrition, including dietary recommendations and
                            health tips.</p>
                    </div>
                    <div class="card-footer"> Explore <span class="fas fa-arrow-right"></span></div>
                </div>
            </a>
        </div>

        <div class="col-6">
            <a href="#" class="card-link">
                <div class="card">
                    <h4 class="card-title">Health & Care</h4>
                    <div class="card-body">
                        <p>Learn about maintaining the well-being of your pets, from regular check-ups to preventive
                            care.</p>
                    </div>
                    <div class="card-footer"> Explore <span class="fas fa-arrow-right"></span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Divider -->
    <br>
    <div class="divider"></div>
    <br>

    <!-- Second Row -->
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="card-link">
                <div class="card">
                    <h4 class="card-title">Breeds</h4>
                    <div class="card-body">
                        <p>Discover various breeds of pets, their characteristics, and considerations for choosing the
                            right one for you.</p>
                    </div>
                    <div class="card-footer"> Explore <span class="fas fa-arrow-right"></span> </div>
                </div>
            </a>
        </div>
    </div>



    <!-- Divider -->
    <br>
    <div class="divider"></div>
    <br>

    <!-- Third Row -->
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="card-link">
                <div class="card">
                    <h4 class="card-title">Items & Toys</h4>
                    <div class="card-body">
                        <p>Explore a collection of pet accessories, toys, and essential items for a happy and healthy
                            pet lifestyle.</p>
                    </div>
                    <div class="card-footer"> Explore <span class="fas fa-arrow-right"></span></div>
                </div>
            </a>
        </div>
    </div>

</div>
<br>
{% endblock %}