{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Index.css') }}" />
{% endblock %}

{% block content %}
<br>
<div class="container" id="video">
    <div class="row">

        <img id="MayanTeporingo" class="img-fluid" src="{{ url_for('static', filename='img/MayanTeporingo.png') }}" />

        <div class="video-wrapper">
            <iframe id="MoonBunny" src="https://www.youtube-nocookie.com/embed/hM1XKh05KkU?si=jyXhbh4P-JgRx9yZ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

    </div>
</div>
<div class="container">

</div>
<br><br>
{% endblock %}